tags
*.pyc
*.swp
*.log
*.un~
.idea
#bin
.DS_Store
.vscode
gen-go
*.so
_vendor-*
*.swo

# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
.idea

# project

# docker builder
*.py

.push.settings.jsonc
